.knapp {
  background: $gronn;
  display: block;
  padding: 10px 18px;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;

  &--lenke {
    text-decoration: none;
    text-align: center;
    display: inline-block;
  }

  &--hvit {
    background: #fff;
    color: $gronn;
  }
}
