.listeseksjon {
  margin: 40px 0;

  &__overskrift {
    font-size: 2rem;
  }

  &__wrapper {
    @include breakpoint($sm) {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__element {
    border: 2px solid $gronn;
    padding: 15px;
    box-sizing: border-box;

    &__bilde {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
    }

    &__overskrift {
      margin-top: 0;
      margin-bottom: 10px;
    }

    a {
      color: inherit;
    }

    @include breakpoint($sm) {
      width: calc((100% / 3) - 10px);
      margin-right: 15px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
