.sidetopp {
  @extend .holder;
}

.hovedinnhold {
  background: #fff;
  padding: 40px 0;
}

.container {
  @extend .holder;

  color: #000;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.halvside {
  @include breakpoint($sm) {
    width: 50%;
    width: calc(50% - 20px);
    margin-right: 20px;
    float: left;

    &:nth-child(2n) {
      margin-left: 20px;
    }
  }
}

.navigeringsknapper {
  &__liste {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 -10px;
  }

  &__element {
    list-style: none;
    margin: 0 10px;
  }

  &__lenke {
    display: block;
    border: 1px solid $gronn;
    padding: 6px 10px;
    color: #000;
    text-decoration: none;
    background: transparent;
    font-size: 1.2rem;
    line-height: 1.2;

    &--aktiv {
      background: $gronn;
      color: #fff;
    }
  }
}

.tekstinnhold {
  font-size: 1.1rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;

  &__header {
    &__logo {
      float: right;
    }
  }

  &__intro {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
  }

  &__sideboks {
    background: $gronn;
    padding: 20px;
    color: #fff;

    @media (min-width: 1024px) {
      float: right;
      margin-left: 20px;
      margin-bottom: 20px;
      position: sticky;
      display: inline-block;
      width: 300px;
    }

    a {
      color: #fff;
    }

    ul {
      padding-left: 20px;
    }

    li {
      margin-bottom: 5px;
    }

    &__logo {
      margin: -15px -15px 10px;
      background: #fff;
      padding: 15px;
      box-sizing: border-box;
    }
  }

  h1 {
    font-size: 2em;
    line-height: 1.2;
    color: #000;
    margin: 0.5em 0 1em;
  }

  p {
    font-size: 1em;
    margin-bottom: 1em;
    margin-top: 0;
  }

  footer {
    margin-top: 2em;
    border-top: 1px solid $gronn;
    padding-top: 0.5em;

    p {
      margin-bottom: 0.3em;
    }
  }
}

#fagvelgeren {
  width: 100%;
  height: 400px;
}

.trippel {
  @media (min-width: $sm) {
    display: flex;
    justify-content: space-between;

    &__boks {
      width: calc((100% / 3) - 20px);
    }
  }
}

.lenkeliste {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;

  li {
    border-bottom: 2px solid #e3e3e3;
  }

  &__lenke {
    color: #303030;
    text-decoration: none;
    font-size: 1.125rem;
    position: relative;
    display: block;
    padding: 10px 30px 10px 0;

    &::after {
      content: '\2192';
      top: 10px;
      right: 5px;
      position: absolute;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      color: $gronn;

      &::after {
        right: 0;
      }
    }
  }
}

.stillingslenke {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;

  &::after {
    content: none;
    display: none;
  }

  &__logo {
    width: 50%;
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  &__tidspunkt {
    width: 50%;
    display: block;
    padding-left: 20px;
    box-sizing: border-box;
    text-align: right;

    &::before {
      @extend .faclass;

      display: inline-block;
      content: $klokke;
      color: inherit;
      font-size: 0.875rem;
      margin-right: 3px;
      margin-top: 2px;
      vertical-align: top;
    }
  }

  &__tittel {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
}
