body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  font-family: "Arial bold", "Arial", arial, sans-serif;
}

.flexholder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint($sm) {
    flex-direction: row;
  }
}

.holder {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
